<% layout("./layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
  <body>
    <h3 class="head" >Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
      <input class="form-control" name="listing[title]" value="<%= listing.title %>" type="text" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="listing[description]">
<%= listing.description %></textarea
      >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label><input class="form-control" name="listing[image]" value="<%= listing.image.url %>" type="file"/>
      </div>
     
     <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" name="listing[price]" value="<%= listing.price %>" type="number" />
      </div>
      
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label> 
        <input class="form-control" name="listing[country]"
        value="<%= listing.country %>"
        type="text"
      /></div>
    </div> 
      
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="location" class="form-label">Location</label> 
        <input class="form-control" name="listing[location]"
        value="<%= listing.location %>"
        type="text"
      /></div>
     
      <div class="col-md-8">
        <label for="dataset" class="form-label">Category</label>
      <select  name="listing[dataset]"
      class="form-control"
      required>
        <option value="international">International</option>
        <option value="india">India</option>
      </select>
    </div>

  </div>

      <div class="mb-3">
        <button class="btn btn-dark edit-btn">Edit</button>
      </div>
      
    </form>
  </body>
</div>
</div>