<% layout("./layouts/boilerplate") %>
<style>
  .box{
    margin-left: 0;
    padding-left: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .display{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
   
  .left{
    width: 50vw;
  }

  .heading{
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 1px;
  }
  
  .icard{
    overflow-x: hidden;
    max-width: 90%;
  }
  .icard img{
    height: 60vh;
    max-width: 100%;
  }

  .right{
    overflow-x: hidden;
    margin-top: 16vh;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2vh
  }
  
  .right p{
    text-align: justify;
    margin-left: 1vw;
    font-size: 18px;
  }

  .right .own{
    text-transform: capitalize;
    font-weight: 500;
  }

  .right i{
    font-size: 18px;
    margin-right: 1vw;
  }

  .bt{
    margin-left: 1vw;
  }
  
  .review{
    display: flex;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
  }

  .lrev{
    width: 30vw;
  }

  .lrev h4{
    font-size: 26px;
  }

  .lrev .rating{ 
    font-size: 20px;
    font-weight: 400;
    margin-right: 1vw;
  }

  .rat{
    display: flex;
  }

  .comment i{
    margin-right: 0.5vw;
  }

  .rrev{
    margin-left: 10vw;
    width: 60vw;
    padding-right: 10vw;
  }

  .rrev p{
    font-size: 18px;
  }
  .cs{
    
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
  }
  .cb{
    width: 20vw;
    height: 33vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
  }
</style>


<div class="box">
  <div class="display">
  <div class="left">
    <h3 class="heading"><b><%= listing.title %></b></h3>
    <div class="icard card show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" onerror="console.error('Error loading image:', this.src);">
    </div>
   </div>
   <div class="right">
    <% if (listing.owner && listing.owner.username) { %>
      <p class="own"><i class="fa-solid fa-crown" style="color: #978133;"></i> <%= listing.owner.username %></p>
  <% } else { %>
      <p class="own">Owner information is not available</p>
  <% } %>
          <p><i class="fa-solid fa-tag"  style="color: #FE424D;"></i> <%= listing.description %></p> 
          <p><i class="fa-solid fa-indian-rupee-sign"></i> <%= listing.price.toLocaleString ("en-IN") %></p>
          <p><i class="fa-solid fa-location-dot fa-beat" style="color: #FE424D;"></i> <%= listing.location %> </p>
          <p><i class="fa-solid fa-globe" style="color: #2b2a2a;"></i> <%= listing.country %></p>

          <div class="btns">
      <a class="bt edit-btn btn btn-dark" href="/listings/<%= listing._id %>/edit">Edit</a>

      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="bt btn btn-dark">Delete</button>
    </form>
    </div>

    </div>
  </div>
 
    <br />

    
   
    <div class="review mb-3">
      <hr>
      <div class="lrev">
      <% if(currUser) { %> 
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">

         
      <div class="rat mt-3">  
        <label for="rating" class="rating form-label">Rating :</label>
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>  


        <div class="comment mb-3">
          <label for="comment" class="form-label"><i class="fa-regular fa-comment"></i>Comments</label>
          <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5" required></textarea>
          <div class="invalid-feedback">
            Please add some comments for review
          </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
    <% } %>  
  </div>
    
    <div class="rrev">
      <p><b>Reviews</b></p>
      <div class="cs">
      <% for(review of listing.reviews) { %>
        <div class="cb card ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p class="starability-result card-text" data-rating="<%= review.rating %>">
            </p>
            <p class="card-text"><%= review.comment %></p>
            
          </div>

        <form class="mb-3 mt-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
         <button class="btn btn-sm btn-dark">Delete</button>
        </form>
        </div>
      <% } %> 
    </div>
    </div>
    </div>
    
</div>
